Makefile.in
INSTALL
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.hpp.in
config.sub
config.rpath
configure
depcomp
texinfo.tex
install-sh
ltmain.sh
missing
.*.swp
*.info
m4/
.cproject
.project
config.h.in~
config.hpp.in~
*.o
*.lo
*.la
*.a
*.so
Makefile
.deps/
.libs/
po/*.gmo
po/Makevars.template
builddir
build-dir
installdir
build
.vscode
.flatpak
.flatpak-builder
img/svg/png
compile_commands.json
.cache
